@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Prompt&family=Rosario:wght@400;700&family=Source+Serif+Pro:wght@400;600;900&display=swap');

.btn-h1-spacing {
	margin-top: 18px;
}

.navbar-default {
	background-color: #C6C6C6;
	border-color: rgba(0,0,0,0.15);
	border-width: 2px;
	width: 80%;
	margin-inline: auto;
	padding-block: 15px;
	padding-inline: 25px;
}

.nav-spacing {
	display: flex;
	justify-content: space-between;
}

.navbar-default .navbar-nav > li > a {
	color: #171717;
}

.navbar-brand {
	color: #171717 !important;
	font-size: 52px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
}

ul.navbar-nav li.active {
	border-color: #FFF !important;
}

.navbar-default .navbar-nav > li.active > a {
	color: #fff;
	font-family: "Rosario", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5) !important;
	border-color: #FFF !important;
	border-radius: 10px;
}

.center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 25px;
}

.container { 
	margin-bottom:100px; 
}

.item-card {
	background-color: rgba(0,0,0,0.15);
	border-radius: 10px;
	padding: 25px;
}

@media (max-width: 768px){
	.navbar-right {
		display:none;
	}
	.navbar-brand {
		font-size: 18px;
	}
	.navbar-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		padding-top: 0;
	}

	.navbar {
		margin-inline: auto;
	}
}
@media (min-width: 768px){
	#main {
	    background-color: #FFF;
	    padding: 0;
	    margin: 0;
	    overflow: hidden;
	    height:auto;
	    min-height:600px;
	}

	.container { 
		margin-left:0px; 
		margin-right:0px; 
	}

	.navbar-nav {
		height: 45px;
	}
}

@media (min-width: 768px) and (max-width: 1000px) {

	.container { margin-bottom:200px; }
	
	#main {
		background-size:35% !important;
	}
	
	.navbar-nav {
		height: 45px;
	}
}
